<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit Derivative Pricer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container border" style="margin-top: 50px; padding: 100px;">
        <div class="text-center mb-5">
            <h2>Credit Derivative Pricer</h2>
        </div>
        <form style="padding-left: 150px; padding-right: 150px;"  action="{{ url_for('cdp') }}" method="post">
            <div class="form-group">
                <label>Intensity Model</label>
                <select class="form-control" name="Intensity">
                    <option value="G2D">Two Factor Gaussian Model</option>
                    <option value="HP">the homogenous Poisson model</option>
                    <option value="IHP"> the inhomogenous Poisson model</option>
                    <option value="CIR"> the Cox-Ingersoll-Ross model </option>
                    <option value="GammaOUC"> the Gamma-OU mode</option>
                    <option value="IGOU"> the Inverse Gaussian-OU model</option>
                </select>
            </div>
            <div class="form-group">
                <label>Optimise method</label>
                <select class="form-control" name="Optimise">
                    <option value="nm">fmin optimizer</option>
                    <option value="powell">powell optimizer</option>
                    <option value="cg"> conjugate gradient optimizer</option>
                    <option value="bfgs">BFGS optimizer</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>